version: '3.8'

services:
  linknlink-remote:
    image: ghcr.io/linknlink/linknlink-remote:v1.0.42
    container_name: linknlink-remote
    restart: unless-stopped
    network_mode: host
    environment:
      # 必需配置

      # 可选配置
      # 使用 host 网络模式，无需暴露端口
      # 注意：host 模式下，容器直接使用宿主机网络，可以访问宿主机上的服务
