services:
  linknlink-remote:
    image: ghcr.io/linknlink/linknlink-remote:1.0.43
    build:
      context: ./common
      dockerfile: Dockerfile
    container_name: linknlink-remote
    restart: unless-stopped
    network_mode: host
    environment:
      HADDONS_API_BASE_URL: ${HADDONS_API_BASE_URL:-http://localhost:8099}
      TARGET_IP: ${TARGET_IP:-localhost}
