---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  addon:
    uses: hassio-addons/workflows/.github/workflows/addon-ci.yaml@main
    with:
      addons: frpc

