name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
      run: |
        echo "ADDON_LIST=['frpc']" >> $GITHUB_ENV
        echo "BUILD_ARGS=--no-cache" >> $GITHUB_ENV

    - name: "ARGS: frpc release version" # Build of addon release version
      if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
      run: |
        echo "ADDON_LIST=['frpc']" >> $GITHUB_ENV
        echo "BUILD_ARGS=--no-cache --docker-hub-check" >> $GITHUB_ENV

    - name: Determine arch
      id: determine_arch
      run: |
        ARCH_LIST=$(jq -r -c '.arch' ./${{ fromJSON(env.ADDON_LIST)[0] }}/config.json)
        echo "Found the following arches: $ARCH_LIST"
        echo "ARCH_LIST=$ARCH_LIST" >> $GITHUB_ENV

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: common
          file: common/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

